/*text align text gedeelte linkerkant*/
.subreddit{
    background-color: var(--white);
    padding: 140px;
}
.subreddit-details h3 {
    margin: 0 0 16px 0;
}
.subreddit-details p {
    margin: 0 0 28px 0;
}

.back-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}
.back-icon {
    width: 12px;
    height: 12px;
    fill: var(--primary);
    margin-right: 4px;
}