main {
    background-color: var(--secondary-light);
}

.hottest-posts {
    text-align: center;
    margin: 100px 0 0 0;
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 80px 0 0 0;
}

.subreddit-article {
    border-radius: 4px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    flex-basis: 380px;
text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
}

/*subreddit title links moeten zwart zijn */
.subreddit-article-title,
.subreddit-article-title:link,
.subreddit-article-title:visited{
    color: var(--black);
    text-decoration: none;
    }